/*
Custom Css
*/
.bg-naranja {
  background-color: #e2910d;
}

.bg-amarillo {
  background-color: #FFCF01;
}

.bg-marron {
  background-color: #3B2816;
}

.naranja {
  color: #e2910d;
}

.amarillo {
  color: #FFCF01;
}

.marron {
  color: #3B2816;
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromRight {
  animation: slideInFromRight 0.5s;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromUp {
  animation: slideInFromUp 1.5s;
}

@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-principal {
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  z-index: 1;
}


.imagen-det {
  width: 150px;
  height: 150px;
}

.container-d {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-radius: 50px;
  font-weight: bold;
}

.transparent-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.transparent-input:focus {
  outline: none;
  border-bottom: 1px solid #666;
  box-shadow: none;
}

.columna-d {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.opacidad {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2%;
}

.container-f {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

@font-face {
  font-family: 'MulaR-Bold';
  src: url(/assets/webfonts/MulaR-Bold.otf);
}